/*--------------GENERAL STYLES---------------*/

*{
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: 'Abel';
}

a{
	text-decoration:none;
	color:#fff;
}

.bg{
	width:100%;
	min-width:1200px;
}

.inner{
	width:1200px;
	margin:auto;
}

.float{
	float:left;
}

.active{
	background-color:white;
	padding:10px;
	color:black;
}

.poiret{
	font-family:Poiret One;
}

.top_style{
	padding-top:160px;
	font-family:Poiret One;
	color:#fff;
	font-size:25px;
	text-decoration:underline;
}

/*-------------HEADER STYLE-----------*/
.header_bg{
	height:180px;
	background-color:#515151;
}

h1{
	text-transform:UPPERCASE;
	position:relative;
	color:white;
	top:35px;
	left:50px;
}

.header_1{
	height:100px;
	color:white;
	
}

.header_2{
	width:900px;
	height:50px;
	background-color:#5bbd50;
	border-radius:15px;
	font-family:Poiret One;
	margin:10px auto;
}

.header_2 ul li{
	font-family:Poiret One;
	font-weight:bold;
	float:left;
	font-size:25px;
	display:inline-block;
	padding-top:10px;
	padding-left:80px;
	margin-left:10px;
}

.header_2 :hover{
	background-color:white;
	padding:10px;
	color:black;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
}

.header_col1{
	font-family:Poiret One;
	height:100px;
	float:left;
}

.header_col_2{
	height:100px;
	float:right;
}

.social_icons{
	width:200px;
	height:40px;
}

.f_style{
	
	margin:5px;
	display:inline-block;
}

.f_style:hover{
	color:#274a9a;
}

.t_style{
	margin:5px;
	display:inline-block;

}

.t_style:hover{
		color:#05fdf4;
}

.g_style{
	margin:5px;
	display:inline-block;
}

.g_style:hover{
	color:#d9252a;
}

.d_style{
	margin:5px;
	display:inline-block;
	
}

.d_style:hover{
	color:#fd059a;'
}

/*------------------------SLIDER STYLE-----------*/

.slider{
	background-image:url(../images/single.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:500px;	
}

/*---------------------Welcome-----------------------*/

.welcome{
	height:250px;
}

.welcome h2{
	font-family:Poiret One;
	text-transform:UPPERCASE;
	font-weight:bold;
	font-size:50px;
	text-align:center;
}

.welcome p{
	font-size:25px;
	text-align:center;
}

/*--------------------Lorem--------------------*/

.lorem_bg{
	height:400px;
	margin-top:50px;
}

.lorem{
	height:400px;
}

.lorem_col{
	width:250px;
	height:200px;
	float:left;
	padding:25px;
}

.lorem_col p{
	padding-top:10px;
}

.lorem img{
	width:150px;
	height:150px;
	margin-left:40px;
	border-radius:50%;
	border:5px solid #5bbd50;
	transition:1s ease;
}

.lorem img:hover{
	border-radius:30%;
	transform:scale(1.1);
	transition: 1s ease;
}

.lorem img: not(:Lhover){
	
}

.lorem p{
	font-size:20px;
	text-align:center;
}

.lorem button{
	padding:10px;
	background-color:#fff;
	font-weight:bold;
	border:1px solid #5bbd50;
	margin-top:20px;
	margin-left:70px;
	text-transform:UPPERCASE;
}

.lorem button:hover{
	text-transform:UPPERCASE;
	color:#fff;
	background-color:#5bbd50;
	cursor:pointer;
	transition:1s ease;
}


/*-----------------ARTICLE------------------*/

.article{
	height:350px;
}

.article img{
	float:right;
	padding-left:30px;
}

.article p{
	font-size:20px;
	text-align:justify;
}


/*******FOOTER***********/

.footer_bg{
	height:250px;
	background-color:#515151;
}

.footer{
	height:200px;
	margin-top:20px;
}

.footer_col_1 ul li{
	color:#fff;
	padding:8px;
	font-size:20px;
}

.footer_col_1{
	width:300px;
	margin-left:50px;
	margin-top:20px;
}

.footer_col_1 ul li{
	font-weight:bold;
}

.footer_col_2{
	width:300px;
	margin-top:20px;
	color:#fff;
}

.footer_col_2 h3{
	margin-top:20px;
	font-size:30px;
}

.footer_col_2 p{
	margin-top:10px;
	margin-left:50px;
	font-size:20px;
}

.footer_col_2 h3{
	font-family:Poiret One;
	margin-left:50px;
}

.footer_col_3{
	width:350px;
	margin-top:20px;
	margin-left:150px;
}

.footer_col_3 h2{
	font-family:Poiret One;
	font-size:30px;
	color:#fff;
}

.footer_col_1 a{
	transition:0.8s ease;
}

.footer_col_1 a:hover{
	color:#5bbd50;
	transition:0.8s ease;
}

.footer_col_1 ul li{
	font-family:Poiret One;
}

.footer_button{
	padding:10px;
	border:none;
	background:#fff;
	color:#000;
	font-size:16px;
	font-weight:bold;
	display:block;
	margin-top:10px;
}

.footer_button:hover{
	border:1px solid #fff;
	background-color:#515151;
	color:#fff;
	cursor:pointer;
	transition: 0.8s ease;
}

.email{
	width:300px;
	padding:10px;
	font-size:15px;
	background:transparent;
	border:1px solid white;
}

.email:focus{
	outline:0;
}

/***ABOUT PAGE***/

.about_bg{
	height:700px;
}

.about{
	height:700px;
}

.col_1{
	width:700px;
	height:700px;
	padding-right:30px;
	border-right:1px dotted grey;
}

.col_2{
	width:400px;
	height:700px;
	margin-left:30px;
}

.col_1_row_1 img{
	float:left;
	padding-right:15px;
}

.col_1_row_1  h2{
	font-family:Poiret One;
	
}

.col_1_row_2  h2{
	font-family:Poiret One;
	
}

.col_2_row_1  h2{
	font-family:Poiret One;
	
}

.col_2_row_2  h2{
	font-family:Poiret One;
	
}

.col_1_row_1 p{
	font-size:20px;
	text-align:justify;
}

.col_1_row_2{
	margin-top:50px;
}

.col_1_row_2 p{
	font-size:20px;
	margin-left:70px;
}

#m{
	background-color:red;
	padding:20px;
	position:relative;
	top:45px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}

#v{
	background-color:green;
	padding:20px;
	position:relative;
	top:50px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}

.col_2_row_1 p{
	font-size:20px;
	text-align:center;
}

.col_2_row_1 h2{
	text-align:center;
}

.col_2_row_1 img{
	margin-left:80px;
}

h2{
	padding:10px;
}

.list{
	padding:10px;
	border-bottom: 1px dotted grey;
	list-style:circle;
}

.list a{
	color:#000;
}

.list a:hover{
	color:#5bbd50;
	font-weight:bold;
}

.col_2_row_2{
	margin-top:20px;
}

/****STAFF PAGE****/

.staff_bg{
	margin-top:50px;
}
.staff_2_row{
	height:450px;
	margin-left:70px;
	margin-top:50px;
}

.staff_content{
	width:250px;
	height:360px;
	margin:30px;
	border:1px solid #bac2c2;
	padding:10px;
}

.staff_content h2{
	text-align:center;
}

.staff_content p{
	text-align:center;
}

.staff_content button{
	margin:20px 0px 0px 70px;
	padding:10px;
	font-weight:bold;
	background-color:white;
	border:2px solid #5bbd50;
	font-size:15px;
}

.staff_content:hover{
	transition:0.8s ease;
	transform:scale(1.05);
	border:2px solid #5bbd50;
}

.staff_content button:hover{
	border:none;
	background-color:#5bbd50;
	color:#fff;
	font-weight:bold;
	transition:0.8s ease;
	cursor:pointer;
}

.staff_content img{
	width:225px;
	height:225px;
	padding:10px;
}

/******************* GALLERY PAGE *******************/

.gallery_bg{
	height:800px;
}

.gallery{
	margin-top:50px;
	height:800px;
}

.gallery_row{
	margin-left:50px;
	height:250px;
}

.gallery_image{
	width:350px;
	height:250px;
}



.gallery_image img:hover{
	transition:0.8s ease;
	border:10px solid #5bbd50;
	-webkit-transform:scale(1.1);
	-moz-transition:scale(1.05);
}

/*******CONTACTS PAGE*********/

.contact_bg{
	width:100%;
	min-width:1000px;
	height:500px;
	padding-top:50px;
}

.contact{
	width:1000px;
	margin:auto;
}

.map{
	width:350px;
	height:350px;
}

.contact_form{
	float:left;
	width:500px;
	height:500px;
	padding-left:50px;
}

.contact_form h2{
	font-family:Poiret One;
}

.col2{
	float:left;
}

.address{
	float:left;
	width:300px;
	height:150px;
	margin-bottom:70px;
}

.address h2{
	font-family:Poiret One;
}

#email{
	width:400px;
	padding:10px;
	border:1px solid #5bbd50;
	background-color:white;
}

#email:focus{
	outline:0;
}

#name{
	width:400px;
	padding:10px;
	border:1px solid #5bbd50;
	background-color:white;
}

#name:focus{
	outline:0;
}

#message{
	width:400px;
	height:200px;
	border:1px solid #5bbd50;
	background-color:white;
}

#message:focus{
	outline:0;
}

.button{
	padding:10px;
	border:none;
	border:2px solid #5bbd50;
	background-color:#5bbd50;
	width:100px;
}

.button:hover{
	background-color:#fff;
	color:black;
	border:2px solid #5bbd50;
	cursor:pointer;
	-webkit-transition:0.8s ease;
}